@using MyFoundation.Extensions

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div>@Editable(Model, e => e.Image)</div>
}
else
{
    if (Context.IsAmpRequest())
     {
         <amp-img srcset="@Html.GetResizedSrcSet(Model.Image)"
                  width="@(Model.Image.Width)" height="@(Model.Image.Height)"
                  layout="responsive"
                  alt="@(Model.Image.Alt)">
         </amp-img>
     }
     else
     {
         <img data-srcset="@Html.GetResizedSrcSet(Model.Image)" data-sizes="auto" alt="@(Model.Image.Alt)"/>
     }
}
